@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<head>
    <link rel="stylesheet" href="" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&display=swap" rel="stylesheet">
</head>
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
