html {
}

h1, h2, h3, h4, h5 {
    font-family: 'Merriweather Sans', sans-serif;
    color: black;
}

body {
    font-family: 'Roboto', sans-serif;
    color: black;
    background-color: #DDDDDD;
}


#HomepageBody::before {
    content: "";
    background-image: url(../Pictures/sacramentmeetingbread.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
}

a {
    color: #ffcc00;
}

    a.btn.btn-default {
        color: white;
        background-color: #4564a1;
    }

.row {
    background-color: #e9ecef;
    border: 2rem;
    border-color: #ffcc00;
}

.col-md-3 {
    border-style: solid;
    border-color: black;
    border-width: .2rem;
    padding: 1rem;
    margin: auto;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    background-color: #e9ecef;
}

footer, header {
    background-color: #4564a1;
}

    footer div.container {
        color: white;
    }

div.container {
    margin-left: auto;
    margin-right: auto;
}
#myBody {
    background-color: #e9ecef;
    opacity: 1;
    position: relative;
    border-style: solid;
    border-color: black;
    padding: 1rem;
    color: black;
   
}

    #myBody a {
        color: black;
        font-weight: bold;
        text-decoration: underline;
        
    }

    #myBody input {
        color: black;
        font-weight: bold;
    }

.btn-default, .btn-primary {
    background-color: #ffcc00;
    border-color: #ffcc00;
}
